.ourteam {
  background: #f5f4fa;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  .title {
    margin-bottom: 30px;
  }
}
.ourteam-list {
  display: flex;
  flex-wrap: wrap;
}
.ourteam-list__item {
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.ourteam-list-content {
  padding: 30px 122px 24px;
  background: var(--white-color);
}
.ourteam-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.ourteam-list__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .ourteam-list__item {
    width: 450px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
@media screen and (min-width: 768px) {
  .ourteam-list {
    margin-left: -30px;
    margin-top: -30px;
  }
  .ourteam-list__item {
    width: 354px;
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  .ourteam-list-content {
    padding: 30px 74px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .ourteam {
    padding-top: var(--section-pt);
    padding-bottom: var(--section-pb);
    .title {
      margin-bottom: 50px;
    }
  }
  .ourteam-list {
    display: flex;
    flex-wrap: nowrap;
  }
  .ourteam-list__item {
    width: 270px;
    flex-basis: calc(100% / 4 - 30px);
  }
  .ourteam-list-content {
    padding: 30px 32px;
    background: var(--white-color);
  }
}
