body {
  font-family: var(--main-font);
  color: var(--main-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
}
