:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --main-color: #212121;
  --secondary-color: #757575;
  --black-color: #000000;
  --white-color: #ffffff;
  --icon-fill-grey: #afb1b8;
  --section-pt: 94px;
  --section-pb: 94px;
}
